<!-- using the row bootstrap css class to create a row -->
<div class="row">
    <!-- using the col-md-5 bootstrap css class here to create a small column -->
    <div class="col-md-5">

        <!-- using the app-recipie-list component here to show the app recepie list -->
        <app-recipe-list></app-recipe-list>
    </div>


    <!-- using the col-md-7 bootstrap css class here to create a slightly bigger column -->
    <div class="col-md-7">

        <!-- using the app-recipie-detail component here to show the recipie details -->
        <app-recipe-detail></app-recipe-detail>
    </div>
</div>