<!-- using the app-header component here -->
<app-header></app-header>

<!-- using the container bootstrap css class to create a container -->
<div class="container">
    <!-- using the row bootstrap css class to create a row -->
    <div class="row">
        <!-- using the col-md-12 bootstrap css class to create a column that occupies
        the full width of the container -->
        <div class="col-md-12">
            <!-- using the app-recipies conponent here for showing the recipies -->
            <app-recipes></app-recipes>

            <!-- using the app-shopping-list component here to show the app shopping
            list -->
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>